* {
    box-sizing: border-box;
}

body {
    /* margin: 0 auto; */
    background-color: #c5e3c0; 
}

section {
    margin: 0 auto;
    text-align: center;

}
article {
    display: flex;
    /* justify-content:space-between: */
    padding-top: 10px;
    padding-bottom: 10px;
}

canvas {
    border-radius: 20px;
    border-color: #97d8e2;
    border-style: solid;
}

button {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    border-style: none;
    background-color: #c5e3c0; 
}

button:hover {
    box-shadow: 11px 13px 51px -6px rgba(110,109,110,1);
}

.logo-button {
    width:60px;
}

/* @media (max-width: 1000px) {

    } */